@import "tailwindcss";

@theme {
  --color-primary: #ee4d2d;
  --color-secondary: #000000a6;
  --color-primary-gradient: linear-gradient(#ee4d2d, #ff7337);
  --color-primary-bg: #fef6f5;
  --color-secondary-blue: #0046ab;
  --color-secondary-yellow: #eda500;
  --color-secondary-green: #26aa99;
  --color-error: #ee2c4a;
  --color-error-bg: #fff4f4;
  --color-caution: #f69113;
  --color-caution-bg: #fff8e4;
  --color-success: #30b566;
  --color-success-bg: #f7fffe;
  --color-text-primary: rgba(0, 0, 0, .87);
  --color-text-primary-o: #212121;
  --color-text-secondary: rgba(0, 0, 0, .65);
  --color-text-secondary-o: #595959;
  --color-text-tertiary: rgba(0, 0, 0, .54);
  --color-text-tertiary-o: #757575;
  --color-text-link: #0088ff;
  --color-util-mask: rgba(0, 0, 0, .4);
  --color-util-disabled: rgba(0, 0, 0, .26);
  --color-util-disabled-o: #bdbdbd;
  --color-util-line: rgba(0, 0, 0, .09);
  --color-util-bg: #f5f5f5;
  --color-util-placeholder: #fafafa;
  --color-util-pressed: rgba(0, 0, 0, .05);
}

@layer utilities {
  .bg-primary-gradient {
    background: linear-gradient(-180deg, #f53d2d, #ff6633);
  }
  .bg-flashsale-gradient {
    background: linear-gradient(90deg, #f53d2d, #ff6633);
  }
}


html {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
    display: block;
    width: 5px;
    height: 5px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {
    background-color: #fff;
}